.login-body {
    height: calc(100vh);
    width: calc(100vw);
    background-image: url("./loginpic.jpg");
    background-size: 100% 100%;
  }
  
  
  .login-card {
    margin-right: 50px;
  }
  
  
  .login-card {
    margin-right:50px;
  }
  
  .login-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(49, 49, 49, 0.4);
    display: grid;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    
  }
  
  /*.login-card {
    margin-right: 100px;
    margin-top: -70px;
  }*/
  .login-title {
    margin-bottom: -100px;
    margin-right: 50px;
    width: 400px;
    height: 60px;
    font-family: 造字工房力黑（非商用）常规体;
    font-size: 40px;
    color: #ffffff;
    position:relative;
  }
  .rememberpwd {
    margin-top: -10px;
  }
  #username, #password {
    width: 300px;
  }
  
  .logintest {
    margin-right:50px;
    margin-top:120px
  }
  