.whole{
   
    height: 180px;
}

.top{
   
    margin-top: 60px;
    text-align: center;
}

.whole p{
    font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight:650;color:#666666;
    font-size:24px; 
}

.bottom-left{
    
    width: 20%;
    height: 600px;
    text-align: center;
    position: absolute;
    left: 100px;
}

.bottom{
    position: relative;
}

.bottom-right{
    position: absolute;
    left:130px;
    text-align: center;
    width:80%;
}

.hour{
    color:rgb(47, 161, 229);
}

/* .top{
    height: 100px;
    text-align: center;
} */